<!DOCTYPE html>

<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/vue"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-resource@1.3.4"></script>
    <title>Risks</title>
</head>

<body>



<div id="app">
    <ul>
        <h3>Risk type</h3>
        <select v-model="riskSelect" @change="riskSelected">
            <option v-for="(risk, index) in risks" v-bind:value=risk.rfields>${ risk.risk_type }$</option>
        </select>
    <ul>
    <br>
    <br>
    <ul>
       <p> ${ flds }$</p>
    <ul>


</div>


<script>
/**
* Create component is a recursive function that takes a DOM structure
* and a rendering function (of vue.js) and returns a Vuejs component.
*/
const createComponent = (dNode, h) => {
  // Handle empty elements and return empty array in case the dNode passed in is empty
  if (_.isEmpty(dNode)) {
    return [];
  }

  // if the el is array call createComponent for all elements
  if (_.isArray(dNode)) {
    return dNode.map((child) => createComponent(child, h))
  }

  let children = []; 
  
  if (dNode.children && dNode.children.length > 0) {
    dNode.children.forEach((c) => {
      if (_.isString(c)) {
        children.push(c)
      } else {
        children.push(createComponent(c, h))
      }
    });
  }
  // Need to clone 
  const properties = _.cloneDeep(dNode.properties)
  return h(dNode.tagName, properties, children.length > 0? children : dNode.textNode)
}

/**
* A sample component uses the recursive createComponent to render a DOM / List of DOM nodes
*/
const MyComponent = Vue.component('my-component', {
  render: function (h) {
    return createComponent(this.nodes, h)
  },
  props: {
    nodes: {
      type: Object,
      required: true
    }
  }
});

new Vue({
       delimiters: ['${', '}$'],
        el: '#app',
        data: {function(){return {
      nodes: {
        tagName: 'div',
        children: [
          {
            tagName: 'h1',
            textNode: 'Great News'
          },
          {
            tagName: 'h3',
            textNode: 'YOU CAN CREATE VUE COMPONENTS OUT OF JSON'
          },         
          {
            tagName: 'a',
            properties: {
              attrs: {href: '#'}
            },
            textNode: 'Vue.js'
          }
        ]
      }
    }
    },


            risks: [],
            flds: [],

        },
        http: {
            root: 'http://127.0.0.1:8000',
        },
        methods: {
            getRisks: function () {this.$http.get('risks/').then(function(response) {this.risks = response.body;})},
            riskSelected: function () {this.flds = this.riskSelect}
        },
        mounted: function () {
            this.getRisks();
        }
  template: '<MyComponent :nodes="nodes"/>',
  components: { MyComponent },

})
</script>
</body>

</html>
